<div class="welcome-head">
    <h2 class="me-4">WELCOME TO TYPING WARRIOR! <br> {{{email}}} </h2>
    <svg width="450" height="4" viewBox="0 0 307 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M307 1H0V0H307V1Z" fill="black"></path>
    </svg>
</div>
<div class="logout-section">
    <ul class="nav nav-pills float-right">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    </ul>
</div>

<div class="row">
      <div class="col-md-6 mx-auto">
        {{!-- replaced 'Word' with 'Phrase' for clarity, and increased paramater for text success from 5 seconds to 30 seconds. --}}
        <p class="lead">Type The Given Phrase Within
          <span class="text-success" id="seconds">30</span> Seconds:</p>
        <div class="typing-box" id="quoteDisplay"></div>
        <input type="text" id="quoteInput" class="form-control form-control-lg" placeholder="Start typing..." id="word-input" autofocus>


     
 <div class="timer" id="timer"></div>
        <h4 class="mt-3" id="message"></h4>
      

        <!-- Instructions -->
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card card-body bg-secondary text-white">
              <h5>Instructions</h5>
              <p>To score, type each phrase in a given time. To play again, correctly type the current phrase. If you would like to restart, you can simply click on the "RESTART" button.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="restart-section">
    <a class="nav-link" href="/dashboard">RESTART</a>
  </div>


<script src="/js/homescript.js"></script>