<section class="header-form">
    <h4>READY TO TYPE?</h4>

 <div class="button-container">
    <div class="button">
      <a href="/signup" type="button" class="btn">Sign Up</a>
    </div>
    <div class="button">
      <a href="/login" type="button" class="btn">Login</a>
    </div>
  </div>
</section>


