<div class="welcome-head">
    <h2 class="me-4">WELCOME</h2>
    <svg width="450" height="4" viewBox="0 0 307 1" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M307 1H0V0H307V1Z" fill="black"/></svg>
  </div>
  <div class="all-stats">
    <p class="ms-3">ALL TIME STATS</p>
    <div class="stat-block">
    <p>AVERAGE WPM:</p>
    <p>OVERALL ACCURACY:</p>
    <p>TESTS TAKEN:</p>
  </div>
  </div>
  <div class="test-section">
      <textarea class="typing-box"></textarea>
      <aside class="active-box">
            <div class="active-stats-head">
                <h2>ACTIVE TEST SCORE</h2>
            </div>
            <div class="active-stats-body">
                <ul>
                    <li>CURRENT WPM:</li>
                    <li>CURRENT ACCURACY:</li>
                </ul>
            </div>
    </aside>
  </div>
  <div class="track-head">
    <h2 class="me-4">TRACK YOUR STATS</h2>
    <svg width="450" height="4" viewBox="0 0 307 1" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M307 1H0V0H307V1Z" fill="black"/></svg>
  </div>

