<section class="login-form">
  <h1>Login</h1>
  <form action="" id="login-form">
    <div class="int-area">
      <input type="text" name="email-login" id="email-login" autocomplete="off" required>
      <label for="email-login">EMAIL ADDRESS</label>
    </div>
    <div class="int-area">
      <input type="password" name="password-login" id="password-login" autocomplete="off" required>
      <label for="password-login">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button type="submit">LOGIN</button>
    </div>
  </form>
</section>

<script src="/js/login.js"></script>