<nav class="navbar navbar-default">
  <div class="nav-container container-fluid bg-dark">
    <div class="site-title">
      <svg width="47" height="56" viewBox="0 0 57 73" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.093 62.4391L56.0438 51.2053V34.3546C56.0438 18.9081 44.2423 4.30413 28.093 0.653139C11.9436 4.30413 0.142151 18.9081 0.142151 34.3546V51.2053L28.093 62.4391ZM28.093 56.2605L6.35344 47.5543V33.7929C6.35344 21.7165 16.2915 9.0785 28.093 6.27005C39.8944 9.0785 49.8325 21.7165 49.8325 33.7929V47.5543L28.093 56.2605V56.2605ZM28.093 49.8011L34.3042 45.3076L31.1986 28.7377H37.4099V23.1208H31.1986V14.6954H24.9873V23.1208H18.776V28.7377H24.9873L21.8817 45.3076L28.093 49.8011Z" fill="white"/>
      </svg>              
      <h1 class="text-white">TYPING WARRIOR</h1>
    </div>          
  </div>
</nav>
<div class="login-body">
<section class="login-form">
  <div class="login-head">
    <h1>WELCOME BACK WARRIOR</h1>
    <h2>LOGIN TO CONTINUE TRAINING</h2>
    <svg class="svg-bar" width="433" height="3" viewBox="0 0 433 3" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.5 1.5H432.5" stroke="black" stroke-width="2"/>
    </svg>
  </div>
  <form action="" id="login-form">
    <div class="int-area">
      <input type="text" name="email-login" id="email-login" autocomplete="off" required>
      <label for="email-login">EMAIL ADDRESS</label>
    </div>
    <div class="int-area">
      <input type="password" name="password-login" id="password-login" autocomplete="off" required>
      <label for="password-login">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button type="submit">LOGIN</button>
    </div>
  </form>
  <div class="signup-foot">
  <h2>DON'T HAVE AN ACCOUNT?</h2>
  <a href="/signup">SIGN UP</a>
  </div>
</section>
</div>

<script src="/js/login.js"></script>