
<section class="login-form">
  <h3>Create an account</h3>
  <form action="">
    <div class="int-area">
      <input type="login" name="email-signup" id="email-signup" autocomplete="off" required>
      <label for="email-signup">EMAIL ADDRESS</label>
    </div>
    <div class="int-area">
      <input type="password" name="password-signup" id="password-signup" autocomplete="off" required>
      <label for="password-signup">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button type="submit">SIGN UP</button>
    </div>
  </form>
</section>

<script src="/js/signup.js"></script>
