
<section class="login-form">
  <h3>Create an account</h3>
  <form action="">
    <div class="int-area">
      <input type="text" name="id" id="" autocomplete="off" required>
      <label for="id">EMAIL ADDRESS</label>
    </div>
    <div class="int-area">
      <input type="password" name="pw" id="pw" autocomplete="off" required>
      <label for="pw">PASSWORD</label>
    </div>
    <div class="btn-area">
      <button type="submit">SIGN UP</button>
    </div>
  </form>
</section>


<<<<<<< HEAD
<form class ="form signup-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
    <input class="form-input" type="password" id="password-login" />
  </div>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Create account</button>
  </div>
</form>

<script src="/public/js/login.js"></script>
=======
>>>>>>> e5cf37d68691bd45a96ff486f9f34a1d8b370b95
