/* commented out text-transform: uppercase, otherwise CAPS LOCK is required for successful text entry. */
* {
    font-family: Roboto;
    /* text-transform: uppercase; */
}

html {
    margin: 0;
    padding:0;
}

body {
    background-color: #f8f8f8f8;
}

.row {
    --bs-gutter-x: 0;
}

.hide {
    opacity: 0;
    z-index: -2;
}

/* Nav Bar */
.navbar {
    padding-top: 0;
}

.nav-container{
    padding: 10px 10px;
}
.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title h1 {
    padding-left: 6px;
}

.nav-link{
    background-color: #fff;
    font-weight: 400;
    border-radius: 3px;
}


/* Welcome Heading */
.welcome-head {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 40px; 
    font-size: 30px;
    color: #000;
    margin-bottom: 5px;
}

.logout-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.all-stats {
    display: flex;
    align-items: center;
    width: 95%;
    height: 140px;
    max-width: 1600px;
    border-radius: 3px;
    margin: 0 auto;
    padding-top: 15px; 
    background-image: url("../assets/bkg-png.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.lead{
    margin-left: 10px;
}
.typing-box{
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    font-size: 20px;
    width: 95%;
    height: 60px;
    max-width: 1600px;
}

.stat-block {
    display: flex;
    flex-direction: row;
    justify-self:center;
    align-self:center;
    align-items:space-around;
}

/* Test Section */

.input-section{
    margin-top: 30px;
}
.test-section{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 40px;
}

.timer {
    margin: 0 auto;
    width: 95%;
    max-width: 1600px;
}

.active-box{
    display: flex;
    flex-direction: column;
    width: 570px;
    height:360px;
    background-color: #262626;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
}

.active-stats-head{
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    background-image: url("assets/bkg-png2.png");
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.active-stats-body{
    list-style-type: none;
}

.instructions {
    margin: 0 auto;
    width: 95%;
    max-width: 1600px;
    transition: all ease-in 300ms;
    position: relative;
    bottom: 100px;
}

.instruction-top{
    display: flex;
    justify-content: space-between;
}

#instruction-close{
    cursor: pointer;
    z-index: 1;
}

/* TRACK YOUR STATS */

.track-head {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 40px; 
    font-size: 30px;
}
.button-section {
    display: flex;
    justify-content: center;
    color:black;
    font-size: 20px;
    margin-top: 30px;

}

.nav-link {
    color: white;
}

#logout{
    color: black;
    transition: all ease-in 200ms;
}

#logout:hover {
    background-color: rgba(237, 239, 248, 0.993);
}

#restart{
    margin-right: 15px;
}

#instruction-close {
    cursor: pointer;
}

.nav-item {
    display: flex;
    margin-top: -100px;
}
/* background color to contrast quote from page */
#quoteDisplay span {
    background-color: rgba(152, 152, 158, 0.2);
}

/* changing highlight color to indicate correct or incorrect entry */
#quoteDisplay .correct {
    background-color: rgba(0, 255, 0, 0.2);
}

#quoteDisplay .incorrect {
    background-color: rgba(255, 0, 0, 0.2);
}