/* commented out text-transform: uppercase, otherwise CAPS LOCK is required for successful text entry. */
* {
    font-family: Roboto;
    /* text-transform: uppercase; */
}

html {
    margin: 0;
    padding:0;
}

body {
    background-color: #346f34c9;
}

/* Welcome Heading */
.welcome-head {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 40px; 
    font-size: 30px;
    color: rgba(255, 255, 255, 0.879);
}

.logout-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.all-stats {
    display: flex;
    align-items: center;
    width: 95%;
    height: 140px;
    max-width: 1600px;
    border-radius: 3px;
    margin: 0 auto;
    padding-top: 15px; 
    background-image: url("assets/bkg-png.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.stat-block {
    display: flex;
    flex-direction: row;
    justify-self:center;
    align-self:center;
    align-items:space-around;
}

/* Test Section */

.test-section{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 40px;
}

/* reduced height of typing box to increase visibility on larger screens. */
.typing-box{
    width: 95%;
    max-width: 930px;
    height: 150px;
}

.active-box{
    display: flex;
    flex-direction: column;
    width: 570px;
    height:360px;
    background-color: #262626;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
}

.active-stats-head{
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    background-image: url("assets/bkg-png2.png");
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.active-stats-body{
    list-style-type: none;
}

/* TRACK YOUR STATS */

.track-head {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 40px; 
    font-size: 30px;
}
/* background color to contrast quote from page */
#quoteDisplay span {
    background-color: rgba(0, 0, 255, 0.2);
}

/* changing highlight color to indicate correct or incorrect entry */
#quoteDisplay .correct {
    background-color: rgba(0, 255, 0, 0.2);
}

#quoteDisplay .incorrect {
    background-color: rgba(255, 0, 0, 0.2);
}