* {margin: 0; padding: 0; box-sizing: border-box;}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/Assets/bg.jpeg") no-repeat center;
    background-size: cover;
}
h2 {
    font-size: 40px;
}